html{
  scroll-behavior: smooth;
}

.ardentGrey{
  color: #646666;
}

.ardentBlue{
  color:#0099ff;
}

.white{
  color:white;
}

.font260{
  font-size: 260px;
}

.font88{
  font-size: 88px;
}

.font36{
  font-size: 36px;
}

.font24{
  font-size: 24px;
}

.sectionHeading{
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
}

.linkButton:hover{
  color: #3f6097;
}

.dropdown-menu a:hover { background-color: rgba(63,96,151,0.6);}

input:focus{
  border-width: 2px;
  background-color: rgba(160, 240, 241, 0.46);
  border-style: solid;
  border-color: rgba(0, 210, 212, 1)
}

input:hover{
  border-width: 2px;
  background-color: rgba(204, 204, 202, 1);
  border-style: solid;
  border-color: rgba(0, 210, 212, 1);
}

textarea:focus{
  border-width: 2px;
  background-color: rgba(160, 240, 241, 0.46);
  border-style: solid;
  border-color: rgba(0, 210, 212, 1)
}

textarea:hover{
  border-width: 2px;
  background-color: rgba(204, 204, 202, 1);
  border-style: solid;
  border-color: rgba(0, 210, 212, 1);
}