/*
body, html {
  height: 100%;
  background-color: tomato;
}

main{
  background-color: teal;
}

#main {
  
  background-image: url(http://static.wixstatic.com/media/11062b_35e9c1a919df41df8b95c20340739349f000.jpg);

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/