html{
  scroll-behavior: smooth;
}

.ardentGrey{
  color: #646666;
}

.ardentBlue{
  color:#0099ff;
}

.white{
  color:white;
}

.font260{
  font-size: 260px;
}

.font88{
  font-size: 88px;
}

.font36{
  font-size: 36px;
}

.font24{
  font-size: 24px;
}

.sectionHeading{
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: 0px;
}

.linkButton:hover{
  color: #3f6097;
}